
@{
    ViewData["Title"] = "E405";
    Layout = "~/Views/Layout/_Error.cshtml";
}

<div id="error">

    <div class="container text-center pt-32">
        <h1 class='error-title'>405</h1>
        <p>Method Not Allowed</p>
    </div>

    <div class="footer pt-32">
        <p class="text-center">Copyright &copy; Voler 2020</p>
    </div>
</div>


