.header{
background-color: $white;

    nav{
        padding: 10px;
    }

    h1{
        color: $darkBlue;
    }

    &__logo{
        img{
            width: 50px;
            height: 40px;
        }
        
    }

    &__hamburger{
        span{
            display: block;
            width: 26px;
            height: 3px;
            background-color: $darkBlue;

            &:not(:last-child){
                margin-bottom: 3px;
            }
        }
    }

    &__links{
        a{
            position: relative;
            font-size: $font-sm;

            &:not(:last-child){
                margin-right: 30px;
            }

            &::before{
                content: "";
                display: block;
                position: absolute;
                height: 3px;
                left: 0;
                right: 0;
                bottom: -10px;
                background: linear-gradient(to right, lime, $brightCyan);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover{
                color: $middleBlue;
                &::before{
                    opacity: 80%;
                }
            }
        }
        
    }

    &__logout{
        a{
            font-size: $font-sm;
            color: $lightRed;

            &:not(:last-child){
                margin-right: 30px;
            }

            &:hover{
                color: $darkRed;
            }
        }
        
    }
}