
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Layout/_UserLayout.cshtml";
}

<div class="main" id="main">
    <nav class="navbar navbar-header navbar-expand navbar-light">
        <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>

    </nav>

    <div class="main-content container-fluid">
        <section class="section">
            <!-- Full Name -->
            <div class="grid grid-ai-c">
                <label for="fullname" class="grid-item-left">Nama Lengkap : </label>
                <input onchange="validfName();" class="form-control" type="text" placeholder="Masukkan nama lengkap anda..." id="fullname">
            </div>

            <!-- Alamat Email -->
            <div class="grid grid-ai-c">
                <label for="email" class="grid-item-left">Email : </label>
                <input onchange="ValidateEmail();" class="form-control" type="text" placeholder="Masukkan email anda..." id="email">
            </div>

            <!-- Handphone -->
            <div class="grid grid-ai-c">
                <label for="hp" class="grid-item-left">Nomor HP : </label>
                <input onchange="validPhone();" class="form-control" type="text" placeholder="Masukkan nomor handphone anda..." id="hp">
            </div>

            <!-- Tanggal lahir -->
            <div class="grid grid-ai-c">
                <label for="birthdate" class="grid-item-left">Tanggal lahir : </label>
                <input onchange="validBirth();" class="form-control" type="date" placeholder="Masukkan tanggal lahir anda..." id="birthdate">
            </div>

            <!-- Gender -->
            <div class="grid grid-ai-c">
                <label for="gender" class="grid-item-left">Gender : </label>
                <select class="grid-item-right" id="gender">
                    <option value="Pria">L</option>
                    <option value="Wanita">P</option>
                    <option value="none">Tidak disebutkan</option>
                </select>
            </div>

            <!-- Agama -->
            <div class="grid grid-ai-c">
                <label for="religion" class="grid-item-left">Agama : </label>
                <select class="grid-item-right" id="religion">
                </select>
            </div>

            <!-- Sekolah/ Universitas -->
            <div class="grid grid-ai-c">
                <label for="university" class="grid-item-left">Sekolah/ Universitas : </label>
                <input onchange="validUniv();" class="form-control" type="text" placeholder="Masukkan nama sekolah terakhir anda..." id="university">
            </div>

            <!-- Jurusan -->
            <div class="grid grid-ai-c">
                <label for="department" class="grid-item-left">Jurusan : </label>
                <input onchange="validDept();" class="form-control" type="text" placeholder="Masukkan nama jurusan anda..." id="department">
            </div>

            <!-- Jenjang -->
            <div class="grid grid-ai-c">
                <label for="aclevel" class="grid-item-left">Jenjang Pendidikan : </label>
                <select class="grid-item-right" id="aclevel">
                    <option value="smk/sma">SMK/SMA</option>
                    <option value="d3">D3 (Diploma)</option>
                    <option value="d4/s1">D4/S1</option>
                    <option value="s2">S2</option>
                    <option value="s3">S3</option>
                </select>
            </div>

            <!-- Tahun lulus -->
            <div class="grid grid-ai-c">
                <label for="gradyear" class="grid-item-left">Tahun Kelulusan : </label>
                <select class="grid-item-right" id="gradyear">
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
            </div>

            <!-- IPK Terakhir -->
            <div class="grid grid-ai-c">
                <label for="gpa" class="grid-item-left">IPK Terakhir : </label>
                <input onchange="validIpk();" class="form-control" type="text" placeholder="Masukkan IPK anda..." id="gpa">
            </div>

            <!-- Kota Asal -->
            <div class="grid grid-ai-c">
                <label for="hometown" class="grid-item-left">Kota Asal : </label>
                <input onchange="validKota();" class="form-control" type="text" placeholder="Masukkan kota asal anda..." id="hometown">
            </div>

            <!-- Submit Button -->
            <div class="grid grid-jc-c">
                <label></label>
                <button type="button" id="submit-btn">Ubah Data</button>
            </div>
        </section>
    </div>


</div>

@section script{
    <script src="~/voler-master/dist/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/voler-master/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/voler-master/dist/assets/js/app.js"></script>

    <script src="~/voler-master/dist/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/voler-master/dist/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/voler-master/dist/assets/js/pages/dashboard.js"></script>

    <script src="~/voler-master/dist/assets/js/main.js"></script>
    <script src="~/js/UpdateValidateScript.js"></script>
}

