
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}


<div id="main">
    <nav class="navbar navbar-header navbar-expand navbar-light">
        <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>

    </nav>

    <div class="main-content container-fluid">
        <div class="page-title">
            <h3>Dashboard</h3>
            <p class="text-subtitle text-muted">Data Admin Panel</p>
        </div>
        <section class="section">

            <div class="row mb-4">
                <div class="col-md-6 col-4 align-self-center">
                    <span data-toggle="modal" data-target="#myModal" onclick="ClearScreen();">
                        <button class="btn pull-left hidden-sm-down btn-success" data-placement="right" data-toggle="tooltip"
                                title="Add Position">
                            <i data-feather="plus-circle"></i>
                        </button>
                    </span>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Position</h4>
                    </div>
                    <div class="card-body">
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                                data-dismiss="modal">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="Id" name="Id"
                                                           hidden>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Position Name:</label>
                                                    <input type="text" class="form-control" Id="Name"
                                                           placeholder="Enter Position" name="Name">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal" id="Save"
                                                onclick="Save();" data-toggle="tooltip" title="Save">
                                            <i data-feather="save"></i>
                                        </button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal" id="Update"
                                                onclick="Update();" data-toggle="tooltip" title="Edit">
                                            <i data-feather="edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-0">
                            <div class="table-responsive">
                                <table class='table mb-0' id="table1">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Id</th>
                                            <th>Position Name</th>
                                            <th>Applicants</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @*<footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-left">
                    <p>2020 &copy; Voler</p>
                </div>
                <div class="float-right">
                    <p>Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by <a href="http://ahmadsaugi.com">Ahmad Saugi</a></p>
                </div>
            </div>
        </footer>*@
</div>

@section script{
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/voler-master/dist/assets/js/app.js"></script>
    <script src="~/voler-master/dist/assets/vendors/simple-datatables/jquery.dataTables.min.js"></script>
    <script src="~/voler-master/dist/assets/js/feather-icons/feather.js"></script>
    <script src="~/voler-master/dist/assets/js/main.js"></script>
    <script src="~/voler-master/dist/assets/js/vendors.js"></script>
    <script src="~/js/PositionAdminScript.js"></script>
    <script src="~/js/sweetalert2@10.js"></script>
}


