
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<h1>Index</h1>


@section script{

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/voler-master/dist/assets/js/app.js"></script>
    <script src="~/voler-master/dist/assets/vendors/simple-datatables/jquery.dataTables.min.js"></script>
    <script src="~/voler-master/dist/assets/vendors/simple-datatables/simple-datatables.js"></script>
    <script src="~/voler-master/dist/assets/vendors/chartjs/Chart.js"></script>
    <script src="~/voler-master/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/voler-master/dist/assets/js/feather-icons/feather.js"></script>
    <script src="~/voler-master/dist/assets/js/pages/dashboard.js"></script>
    <script src="~/voler-master/dist/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/voler-master/dist/assets/js/main.js"></script>
    <script src="~/voler-master/dist/assets/js/vendors.js"></script>
    <script src="~/js/sweetAlert.js"></script>
    <script src="~/js/ScheduleScript.js"></script>
}

