// Colors
$middleBlue: rgb(29, 130, 189);
$veryLightBlue: rgb(206, 223, 232);
$lightBlue: rgb(108, 169, 206);
$darkBlue: rgb(4, 91, 148);
$lightGreen: rgb(117, 165, 94);
$brightCyan: hsl(192, 70%, 51%);
$white: rgb(255, 255, 255);
$darkRed: rgb(200, 14, 45);
$lightRed: rgb(247, 150, 150);

// Font Sizes
$font-sm: 0.875rem;
$font-mid: 0.9rem;
$font-med: 1.125rem;