
@{
    ViewData["Title"] = "StartSegment";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<div id="auth">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card py-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="~/voler-master/dist/assets/images/favicon.svg" height="48" class='mb-4'>
                            <h3>Segment Name</h3>
                        </div>
                        @*<form action="index.html">*@
                        <div class="row">
                            <div class="col col-md-6">
                                <label>Duration</label>
                            </div>
                            <div class="col col-md-6">
                                <label id="duration">40 menit</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col col-md-6">
                                <label>Question's Quantity</label>
                            </div>
                            <div class="col col-md-6">
                                <label id="questionQty">20</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col justify-content-md-center">
                                <center><button class="btn btn-primary" id="continueBtn" onclick="SetSegment()">Continue</button></center>
                            </div>
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/voler-master/dist/assets/js/feather-icons/feather.js"></script>
    <script src="~/voler-master/dist/assets/js/feather-icons.js"></script>
    <script src="~/voler-master/dist/assets/js/app.js"></script>
    <script src="~/voler-master/dist/assets/js/main.js"></script>
    <!-- Exam Online Script -->
    <script src="~/js/ExamOnlineScript.js"></script>
    <script src="~/js/sweetAlert.js"></script>
    <script src="~/js/WaitingScript.js"></script>
}





