
@{
    ViewData["Title"] = "Waiting";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<div id="auth">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card py-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="~/voler-master/dist/assets/images/logo_metrodata.png" height="60" class='mb-4'>
                            <h3>Wait a moment...</h3>
                            <p>It looks like you have to wait for your exam schedule!</p>
                        </div>
                        @*<form action="index.html">*@
                        <div class="form-group position-relative align-self-center mb-5 mt-5">
                            <center><h2 id="demo">Time to wait</h2></center>
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card py-4">
                    <div class="card-body">
                        <div class="text-center mb-2">
                            <img src="~/voler-master/dist/assets/images/logo_metrodata.png" height="60" class='mb-4'>
                            <h3>More information!</h3>
                        </div>
                        <div class="text-body">
                            <p>You should read this information, before starting the exam!</p>
                            <ol start="1">
                                <li>We need to access your michrophone and your camera, make sure you give us the access!</li>
                                <li>This exam there will be 3 segments.</li>
                                <li>Don't try to cheat on us!</li>
                                <li>Last but not least, good luck!</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section script{
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/voler-master/dist/assets/js/feather-icons/feather.js"></script>
    <script src="~/voler-master/dist/assets/js/feather-icons.js"></script>
    <script src="~/voler-master/dist/assets/js/app.js"></script>
    <script src="~/voler-master/dist/assets/js/main.js"></script>
    <!-- Exam Online Script -->
    <script src="~/js/ExamOnlineScript.js"></script>
    <script src="~/js/sweetAlert.js"></script>
    <script src="~/js/WaitingScript.js"></script>
}



