
@{
    ViewData["Title"] = "Forgot";
    Layout = "~/Views/Layout/_Forgot.cshtml";
}

<div id="auth">

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card py-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="~/PortalClient/app/images/mtdl-logo.png" height="48" class='mb-4'>
                            <h3>Forgot Password</h3>
                            <p>Please enter your email to receive password reset link.</p>
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="first-name-column">Email</label>
                                <span id="email-checker" class="input-checker checker-hidden" style="color:red"></span>
                                <input onkeyup="validEmail();"
                                       type="email" id="email-column"
                                       class="form-control" name="fname-column" placeholder="Type your email here...">
                            </div>

                            <div class="clearfix">
                                <button onclick="Forgot();"
                                        class="btn btn-primary float-right">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="loader" class="lds-dual-ring hidden overlay"></div>

</div>

@section script{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="~/voler-master/dist/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/voler-master/dist/assets/js/app.js"></script>

    <script src="~/voler-master/dist/assets/js/main.js"></script>

    <!-- Forgot -->
    <script src="~/js/SetValidity.js"></script>
    <script src="~/js/AccountScript.js"></script>
}

