
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Login.cshtml";
}

<div id="auth">

    

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="~/metrodata.png" height="80" class='mb-4'>
                            @*<img src="~/metrodata.png" />*@
                            <h3>Sign In</h3>
                            <p>Please sign in to continue to Metrodata Academy Account.</p>
                        </div>
                        <div>
                            <div class="form-group position-relative has-icon-left">
                                <label for="username-column">Username</label>
                                <span id="username-checker" class="input-checker checker-hidden">Username sudah digunakan</span>
                                <div class="position-relative">
                                    <input onkeyup="validUserName();"
                                           type="text" class="form-control" id="username-column" placeholder="Type your email, username or phone number here...">
                                    <div class="form-control-icon">
                                        <i data-feather="user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group position-relative has-icon-left ">
                                <div class="clearfix">
                                    <label for="password-column">Password</label>
                                    <span id="password-checker" class="input-checker checker-hidden">Password boleh kosong</span>
                                    <a href="@Url.Action("Forgot", "Account")" class='float-right'>
                                        <small>Forgot password?</small>
                                    </a>
                                </div>
                                <div class="position-relative">
                                    <input onkeyup="loginPassword();"
                                           type="password" class="form-control" id="password-column" placeholder="Type your password here...">
                                    <div class="form-control-icon">
                                        <i data-feather="lock"></i>
                                    </div>
                                </div>
                            </div>

                            <div class='form-check clearfix my-4'>
                                        @*<div class="checkbox float-left">
                        <input type="checkbox" id="checkbox1" class='form-check-input'>
                        <label for="checkbox1">Remember me</label>
                    </div>*@
                                <div class="float-right">
                                    <a href="@Url.Action("Register", "Account")">Don't have an account?</a>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button class="btn btn-primary float-right" onclick="SignIn();">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loader" class="lds-dual-ring hidden overlay"></div>
</div>


@section script{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="~/voler-master/dist/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/voler-master/dist/assets/js/app.js"></script>

    <script src="~/voler-master/dist/assets/js/main.js"></script>

    <!-- Registrasi -->
    @*<link href="~/css/extra.css" rel="stylesheet" />*@
    <script src="~/js/SetValidity.js"></script>
    <script src="~/js/AccountScript.js"></script>
}

