
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Layout/_Register.cshtml";
}

<div id="auth">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="~/PortalClient/app/images/mtdl-logo.png" height="48" class='mb-4'>
                            <h3>Sign Up</h3>
                            <p>Please fill the form to register.</p>
                        </div>
                        <div>
                            <div class="row">


                                <!-- First Name -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="fname-column">First Name</label>
                                        <input onchange="validfName();"
                                               type="text" id="fname-column" class="form-control" name="fn-column" placeholder="Enter your First Name here ...">
                                    </div>
                                </div>

                                <!-- Last Name -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="last-name-column">Last Name</label>
                                        <input onchange="validlName();"
                                               type="text" id="last-name-column" class="form-control" name="ln-column" placeholder="Enter your Last Name here ...">
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="email-column">Email</label>
                                        <input onchange="ValidateEmail();"
                                               type="email" id="email-column" class="form-control" name="email-id-column" placeholder="Enter your Email here ...">
                                    </div>
                                </div>

                                <!-- User Name -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="username-column">User Name</label>
                                        <input onchange="validUserName();"
                                               type="text" id="username-column" class="form-control" name="username-id-column" placeholder="Enter your User Name here ...">
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="password-column">Password</label>
                                        <input onchange="validPassword();"
                                               type="password" id="password-column" class="form-control" name="password-id-column" placeholder="Enter your Password here ...">
                                    </div>
                                </div>

                                <!-- Confirm -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="confirm-column">Confirm Password</label>
                                        <input onchange="Confirm();"
                                               type="password" id="confirm-column" class="form-control" name="confirm-id-column" placeholder="Enter your Password here ...">
                                    </div>
                                </div>

                                <!-- Phone -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="phone-column">Phone</label>
                                        <input onchange="validPhone();"
                                               type="number" id="phone-column" class="form-control" name="phone-column" placeholder="Enter your Phone Number here ...">
                                    </div>
                                </div>

                                <!-- BirthDate -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="birthdate-column">BirthDate</label>
                                        <input onchange="validBirth();"
                                               type="date" id="birthdate-column" class="form-control" name="birthdate-column">
                                    </div>
                                </div>

                                <!-- Gender -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="gender-floating">Gender</label>
                                        <select id="gender-floating" class="extra">
                                            <option value="Pria">L</option>
                                            <option value="Wanita">P</option>
                                            <option value="none">Tidak disebutkan</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Agama -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="religion">Religion</label>
                                        <select id="religion" class="extra">
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <a href="@Url.Action("Index","Account")">Have an account? Login</a>
                            <div class="clearfix">
                                <button class="btn btn-primary float-right"
                                        id="btn-modal"
                                        onclick="SignUp();">
                                    Submit
                                </button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/voler-master/dist/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/voler-master/dist/assets/js/app.js"></script>

    <script src="~/voler-master/dist/assets/js/main.js"></script>

    <!-- Registration -->
    <script src="~/js/ReligionScript.js"></script>
    <script src="~/js/SetValidity.js"></script>

    <!-- Registration script -->
    @*<script src="~/js/AccountRegister.js"></script>*@
    <script src="~/js/AccountScript.js"></script>
}

