
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="witdh=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link href="~/PortalClient/app/scss/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/vendors/chartjs/Chart.min.css">
    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/app.css">

    <link rel="shortcut icon" href="~/PortalClient/app/images/mtdl-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/voler-master/dist/assets/css/app.css">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <nav class="flex flex-jc-sb flex-ai-c">
            <a href="/" class="header__logo">
                <img src="~/PortalClient/app/images/mtdl-logo.png" alt="Metrodata">
            </a>

            <div class="header__links">
                <a href="@Url.Action("Index", "Registration")">Pendaftaran</a>
                <a href="@Url.Action("Update", "Registration")">Update Data</a>
            </div>

            <div class="header__logout">
                <a href="#">Logout</a>
            </div>
        </nav>
    </header>

    @RenderBody();

    @RenderSection("script", required: false);
</body>
</html>
