
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Account</title>
    <link rel="stylesheet" href="~/voler-master/dist/assets/css/bootstrap.css">
    <link rel="shortcut icon" href="~/PortalClient/app/images/mtdl-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/voler-master/dist/assets/css/app.css">
    <link href="~/css/extra.css" rel="stylesheet" />
</head>

<body>
    @RenderBody();
    @RenderSection("script", required: false);
</body>

</html>

