
@{
    ViewData["Title"] = "Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChartJS - Voler Admin Dashboard</title>
    <link href="~/voler-master/dist/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/voler-master/dist/assets/vendors/chartjs/Chart.css" rel="stylesheet" />
    <link href="~/voler-master/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/voler-master/dist/assets/css/app.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/voler-master/dist/assets/images/favicon.svg" type="image/x-icon">
</head>
    

<body>
    @RenderBody();
    @RenderSection("script", required: false);
</body>
</html>
